# Generate a read-only token at https://github.com/settings/tokens
# Only needed when running `bun run build` locally
# When it's run on the CI, GitHub automatically generates a GITHUB_TOKEN for the job
GITHUB_TOKEN=

# Should only be necessary when running on the CI
COINGECKO_API_URL=
COINGECKO_API_KEY_NAME=
COINGECKO_API_KEY_VALUE=