name: Chaindata Build

on:
  # runs after each push to current branch
  push:
  # can be run manually from the `Actions` tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow pushing commits
permissions:
  contents: write
  id-token: write

concurrency:
  # only run 1 job per branch/pr/etc at a time
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-main:
    uses: ./.github/workflows/build-jobs.yml
    with:
      environment: 'builds'
    secrets: inherit
    # Sets permissions of the GITHUB_TOKEN to allow pushing commits
    permissions:
      contents: write
      id-token: write

  build-pr:
    uses: ./.github/workflows/build-jobs.yml
    with:
      environment: 'pr-builds'
    secrets: inherit
    # Sets permissions of the GITHUB_TOKEN to allow pushing commits
    permissions:
      contents: write
      id-token: write
