name: Chaindata Validate

on:
  push:
    branches: [v3, main]
  pull_request:
    types: [opened, synchronize]
    branches: [v3, main]

concurrency:
  # only run 1 job per branch/pr/etc at a time
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  validate:
    name: 'Validate chaindata JSON format & schema'
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Validate JSON format & schema
        # prettier will exit with a non-zero status code if the JSON format is not valid
        # ajv will exit with a non-zero status code if the JSON schema is not valid
        run: pnpm validate
